flows.json
[{"id":"69973b99.598814","type":"tab","label":"OPC Events","disabled":false,"info":""},{"id":"14afceca.6386f1","type":"OpcUa-Endpoint","endpoint":"opc.tcp://192.168.1.10:4840","secpol":"None","secmode":"None","login":false},{"id":"50b18d54.3dd8a4","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"69af2557.a85b2c","type":"ui_group","name":"Alarms","tab":"50b18d54.3dd8a4","order":2,"disp":true,"width":"15","collapse":false},{"id":"4941a743.aaeec8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Arial,Arial,Helvetica,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Arial,Arial,Helvetica,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"true","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"2e492080.82aa3","type":"OpcUa-Endpoint","endpoint":"","secpol":"None","secmode":"None","login":false},{"id":"f4ca709e.f1293","type":"OpcUa-Endpoint","endpoint":"opc.tcp://H7Q8Q13.mshome.net:53530/OPCUA/SimulationServer","secpol":"None","secmode":"None","login":false},{"id":"64f02bfb.d8bdf4","type":"inject","z":"69973b99.598814","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":110,"y":80,"wires":[["df1a321.957bdd"]]},{"id":"16bac7b8.d5e078","type":"function","z":"69973b99.598814","name":"new row","func":"var id=flow.get(\"lastId\") || 0;\nvar text = msg.payload.Message;\nvar tim = msg.payload.Time;\nvar stat = msg.payload.ActiveState;\nvar conf_stat = msg.payload.ConfirmedState;\n\nif (stat == 'Active')\n{\n    stat = '(active)';\n}\nelse if ((stat == 'Inactive') & (conf_stat == \"Unconfirmed\"))\n{\n    stat = '(inactive but unconfirmed)';\n}\nelse if ((stat == 'Inactive') & (conf_stat == \"Confirmed\"))\n{\n    stat = '(inactive and confirmed)';\n}\n\n\n++id;\nmsg.payload={\n    command:\"addRow\",\n    arguments: [\n        [\n            {\n            \"id\":id,\n            \"timestamp\":tim,\n            \"text\":text+' '+stat\n            }\n        ],\n        true\n    ],\n    returnPromise: true\n}\nflow.set(\"lastId\",id);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":80,"wires":[["ae5ad24.867093"]],"info":"# addRow([row],onTop)\n\n`onTop=true`\n\nadds a new Row on top of the table"},{"id":"edd4c5bf.b69888","type":"function","z":"69973b99.598814","name":"create new eMail","func":"var text = msg.payload.Message;\nvar tim = msg.payload.Time;\nvar stat = msg.payload.ActiveState;\nvar conf_stat = msg.payload.ConfirmedState;\nvar to=flow.get(\"sendto\");\n\nif (stat == 'Active')\n{\n    stat = '(active)';\n}\nelse if ((stat == 'Inactive') & (conf_stat == \"Unconfirmed\"))\n{\n    stat = '(inactive but unconfirmed)';\n}\nelse if ((stat == 'Inactive') & (conf_stat == \"Confirmed\"))\n{\n    stat = '(inactive and confirmed)';\n}\n\nmsg.topic = 'Alarm';\nmsg.payload = 'Coffee machine: '+tim+' '+text+' '+stat;\nmsg.to = to;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":950,"y":120,"wires":[["ea428e93.4a155"]],"info":"# addRow([row],onTop)\n\n`onTop=true`\n\nadds a new Row on top of the table"},{"id":"78a59a5e.2e1f74","type":"function","z":"69973b99.598814","name":"","func":"flow.set(\"sendto\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":220,"wires":[["38aa2cb4.e0c614"]]},{"id":"38aa2cb4.e0c614","type":"debug","z":"69973b99.598814","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":450,"y":220,"wires":[]},{"id":"583973cb.88034c","type":"comment","z":"69973b99.598814","name":"receive OPC UA Events, display in UI and send via Mail","info":"","x":220,"y":20,"wires":[]},{"id":"55eb31e7.57778","type":"comment","z":"69973b99.598814","name":"store recipient","info":"","x":90,"y":160,"wires":[]},{"id":"88e59793.c22d48","type":"OpcUa-Client","z":"69973b99.598814","endpoint":"14afceca.6386f1","action":"events","deadbandtype":"a","deadbandvalue":1,"time":"2","timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":480,"y":80,"wires":[["8acf6337.2e24e"]]},{"id":"df1a321.957bdd","type":"OpcUa-Event","z":"69973b99.598814","root":"i=2253","eventtype":"i=2041","name":"","x":280,"y":80,"wires":[["88e59793.c22d48"]]},{"id":"ea428e93.4a155","type":"e-mail","z":"69973b99.598814","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"","dname":"","x":1130,"y":120,"wires":[]},{"id":"8acf6337.2e24e","type":"moment","z":"69973b99.598814","name":"","topic":"","input":"payload.Time","inputType":"msg","inTz":"Europe/Berlin","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD.MM.YYYY HH:mm:ss","locale":"de-DE","output":"payload.Time","outputType":"msg","outTz":"Europe/Berlin","x":720,"y":80,"wires":[["16bac7b8.d5e078","edd4c5bf.b69888"]]},{"id":"ae5ad24.867093","type":"ui_table","z":"69973b99.598814","group":"69af2557.a85b2c","name":"Alarms","order":0,"width":"15","height":"10","columns":[{"field":"id","title":"id","width":"20px","align":"right","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"timestamp","title":"Timestamp","width":"30px","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"text","title":"Message","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":1,"cts":true,"x":1130,"y":80,"wires":[[]]},{"id":"9c61e97.f1f2318","type":"ui_text_input","z":"69973b99.598814","name":"","label":"Recipient:","tooltip":"","group":"69af2557.a85b2c","order":1,"width":0,"height":0,"passthru":true,"mode":"email","delay":300,"topic":"payload","topicType":"msg","x":80,"y":220,"wires":[["78a59a5e.2e1f74"]]}]